<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Scope of NOIR-0</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/fut_style.css')}}">
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/aboutfuture">About</a>
        <a href="/testchat">Chat</a>
    </div>

    <header>
        <h1>Future Scope of NOIR-0</h1>
    </header>
    <section>
        <h2>3D Virtual/Digital Human Experience</h2>
        <p>A digital human that will talk to you, just like the real one.</p>

        <h2>Voice and Emotions</h2>
        <p>Yes, you heard me right she can talk and she have emotions.</p>

        <h2>Multimodality</h2>
        <p>Since, NOIR-0 is powered by Google Gemini, it can accept "text, images, audio and video"</p>

        <h2>Memory and Personality</h2>
        <p>our home-grown Infinite memory technique to give NOIR a uniqe personality </p>
        <p>and a never ending memory to remember everything.</p>

        <h2>Chat History</h2>
        <p>Store your chat history on the cloud, start where you left.</p>

        <h2>Chat with Documents/Database</h2>
        <p>A feature that will help the BIG BRAINERS in a variety of their tasks.</p>

        <h2>Enhanced Security and Privacy</h2>
        <p>Implement robust security measures and privacy controls, you know, the technical stuff.</p>

        <h2>Scalability and Performance</h2>
        <p>Optimize backend infrastructure to ensure scalability and high performance, accommodating</p>
        <p>growing user demands and maintaining responsiveness.</p>

        <h2>Seamless Cross-platform Compatibility</h2>
        <p>Ensure compatibility across different devices and platforms, including desktops,</p>
        <p>laptops, tablets, and mobile phones, for a seamless user experience.</p>
    </section>
    <footer>
        <p>&copy; 2024 NOIR-0. All rights reserved.</p>
    </footer>
</body>

</html>