<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOIR-0</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>

<body>


    <div class="navbar">
        <a href="/">Home</a>
        <a href="/aboutfuture">About</a>
        <a href="/testchat">Chat</a>
    </div>


    <div class="header">
        <h1>Making AI helpful for everyone</h1>
        <p class="animated-words">Ask any thing to NOIR-0, a 3D AI chat bot</p>
    </div>


    <div class="content">
        <p>This is in alpha preview, more features will be released soon</p>
        <p>To know our upcoming updates, go to "About" page</p>
        <p>To test our chatting feature, go to "Chat" page</p>
        <p>NOIR-0 is backed by Google Gemini API</p>
        <p>Processing might be slow due to our free tier API requests capability</p>
    </div>

</body>

</html>